:root{
    --bright:#91a0b8;
    --brigher:#414e5f;
    --brightest:#283144;
    --light:#EEE;
    --gray:#606c83;
    --pink:#ec76b1;
    --purple:#a888f3;
}


*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #ffffff;
    color:black;
}
header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
header h1{
    font-size: 3rem;
    font-weight: 320;
    color: #606c83;
    margin-bottom: 1rem;
}
#new-task-form{
    display: flex;
}
input,button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
    
}
#new-input{
    flex:1 1 0%;
    background-color: #414e5f;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    font-size: 1.27rem;
    color:black

}
#new-input::placeholder{
    color: #606c83;

}
#new-submit{
    color: #dd1278;
    font-size: 1.27rem;
    font-weight: 720;
    background-image: linear-gradient(to right,#dd1278,#a888f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.5s;
}
#new-submit:hover{
    opacity: 0.8;
}
#new-submit:active{
    opacity: 0.6;
}
main{
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 810px;
    width: 100%;
    margin: 0 auto;

}
.task-list{
    padding: 1rem;
}
.task-list h2{
    font-size: 1.5rem;
    font-weight: 300;
    color: #606c83;
    margin-bottom: 1rem;
}
#tasks .task{
    display: flex;
    justify-content: space-between;
    background-color: #283144;
    padding: 1rem;
    border-radius:1rem ;
    margin-top: 1rem;

}
#tasks {
    color: #ffffff;
    font-size: 1.10rem;
    width: 100%;
    display: black;
    transition: 0.4s;



}
#tasks .task .content{
    flex: 1 1 0%;
}
.task .content .text{
    color: #ffffff;
    font-size: 1.10rem;
    width: 100%;
    display: black;
    transition: 0.4s;

}
#tasks .task .content .text:not(:read-only){
    color:  #dd1278;

}
#tasks .task .actions{
    display: flex;
    margin: 0 -0.5rem;
}
.task .actions button{
    cursor: pointer;
    margin:0 0.5rem ;
    font-size:1.12rem ;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;

}
.task .actions button:hover{
    opacity: 0.8;
}
.task .actions button:active{
    opacity: 0.6;
}
.edit{
    background-image: linear-gradient(to right,#dd1278,#a888f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.delete{
   color: crimson;
}